body {
  margin          : 0;
  padding         : 0;
  background      :steelblue;
  /* background: url("https://images.freeimages.com/images/previews/609/underwater-1170130.jpg"); */
  background-size: 100%;
}
