.Header {
    text-align  : center;
}

nav {
    font-weight : bold;
    font-size   : 16px;
    color       : blue;
}

.navbar-brand {
    font-size   : 28px;
    font-family : "Skranji";
}

.navbar-inverse {
    background  : rgba(255, 255, 255, 0.404);
    border      : none;
}

.navbar-toggle {
    border      : none;
}

.navbar {
    width       : 100%;
}

.fas {
    color       : white;
}

.fas:hover {
    color       : blue;
}

.btn2 {
    width       : 50px;
    background  : transparent;
    border      : none;
}

a:link {
    text-decoration: none;
}
